<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>JWT Example</title>
  <link ref="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css"/>
  <link ref="stylesheet" href="styles.css" />
</head>
<body ng-controller="MainCtrl as vm">

<div class="container" ng-show="vm.user">
      <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{vm.randomUser.avatar}}" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Name: {{vm.randomUser.name}}<br>
    Website: <a href="http://{{vm.randomUser.website}}">{{vm.randomUser.website}}</a>
    </h4>
    <p>Contact Info</p>

    <div>{{vm.randomUser.email}}</div>
    <div>{{vm.randomUser.address.street}}<span>{{vm.randomUser.address.suite}}</span></div>
    <div>{{vm.randomUser.address.city}}, {{vm.randomUser.address.zipcode}}</div>
  </div>
</div>
    </div>

  <div ng-show="vm.user">
<!-- <h1>Get Random User</h1> -->
<h2>Welcome {{vm.user.username}}</h2>
    <button ng-click="vm.getRandomUser()">Get User</button>
    <button ng-click="vm.logout()">Logout</button>
  <!--   <pre ng-bind="vm.randomUser | json"></pre> -->
  <!-- <img src="{{vm.randomUser.avatar}}" /> -->
  </div>

  <div ng-hide="vm.user">


    <form ng-submit="vm.login(vm.username, vm.password)">
      <label>Username: <input type="text" ng-model="vm.username" /></label><br/>
      <label>Password: <input type="password" ng-model="vm.password" /></label><br/>
      <button type="submit">Login</button>
    </form>
  </div>

  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/jquery/dist/jquery.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="app.js"></script>
</body>
</html>
